@import "base";
@import "constants";
@import "letters";
@import "fonts";
@import "colors";

html {
    font-size: $font-size;
    margin: $zero;
    padding: $zero;
}

body {
    box-sizing: $b-box;
    width: $max-width;
    height: $max-height;
    background-color: $background-color;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: $font-color;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: $zero;
    padding: $zero;
}
